manifest {
    name                                  = 'nf-preprocess'
    version                               = '0.2'
    description                           = 'Nextflow pipeline to preprocess fastq data'
    author                                = 'Sebastian Schönherr'
    homePage                              = 'https://github.com/genepi/ngs-class'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {
    //Required inputs
    input                          = null
    output                         = null
}

profiles {

    docker {
        docker.enabled                    = true
        docker.userEmulation              = true
        singularity.enabled               = false
        process.container                 = 'genepi/nf-preprocess:latest'
    }

    singularity {
        process.container                 = 'quay.io/genepi/ngs-class:v0.2'
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }

   test      {
        includeConfig 'conf/test.config'
   }

}
