docker.enabled = true
process.container= ''

manifest {
    name                                  = 'exome-cnv-nf'
    version                               = '0.0.2'
    description                           = 'Nextflow pipeline to preprocess fastq data'
    author                                = 'Sebastian Schönherr'
    homePage                              = 'https://github.com/seppinho'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {

    //Required inputs
    project                        = null


}

profiles {
    debug { process.beforeScript          = 'echo $HOSTNAME' }

process.container                 = 'genepi/nf-preprocess:latest'

    docker {
        docker.enabled                    = true
        docker.userEmulation              = true
        singularity.enabled               = false
    }

    singularity {
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }

    development {
        docker.enabled                    = true
        docker.userEmulation              = true
        resume                            = true
        singularity.enabled               = false
    }

   test      {
        includeConfig 'conf/test.config'
   }

}
