/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run genepi/nf-preprocess -r <tag> -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    input                          = "test-data/*.fastq"
    output                         = "fastp-test"
}